@media only screen and (min-width: 320px) and (max-width: 370px) {
    .mob-brand{
        height:50px;
        padding-left:20px !important;
    }
    .collapse
    {
        overflow-y: scroll !important;
        overflow-x:hidden;
        max-height: 400px !important;
    }

    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:84px !important;
        display: block;
        position:inherit;
        height: 155px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:195px !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }

    .footer-server img{
        height:230px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:35px;
    }
    .silorailsimg{
        height: 83px;
    }
    .icn3{
        margin-top:10% !important;
    }

    .block-box {
        margin-left: 10% !important;
    }
    .our-platform img{
        height:190px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .half-img img{
        height: 218px;
    }
    .pricing-table{

        margin-top:20px;
        display: block;
        height:700px;
        width:auto;
        min-width: 310px;
        border: 2px solid #f5f5f5;
        border-radius:10px;
        box-shadow: 0px 0px 0px #888888;
    }
    .security-service{
        text-align: center !important;
    }
    .security-sub{
        text-align: center;
    }
    .silocloud-img{
        margin-left:27%;
    }

    .swords{
        margin-left:10%;
    }

    .nexus-center{
        margin-left:15%;
    }
}



@media only screen and (min-width: 371px) and (max-width: 424px) {
    .mob-brand{
        height:60px;
        padding-left:20px !important;
    }
   .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:93px !important;
        display: block;
        position:inherit;
        height: 175px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:225px !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }

    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }

    .block-box {
        margin-left: 17% !important;
    }
    .our-platform img{
        height:190px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .half-img img{
        height: 235px;
    }
    .security-service{
        text-align: center !important;
    }
    .security-sub{
        text-align: center;
    }
    .pricing-table{

        margin-top:20px;
        display: block;
        height:650px;
        width:auto;
        min-width: 310px;
        border: 2px solid #f5f5f5;
        border-radius:10px;
        box-shadow: 0px 0px 0px #888888;
    }
    .nexus-center{
        margin-left:25%;
    }
    .silocloud-img{
        margin-left:23%;
    }
}



@media only screen and (min-width: 425px) and (max-width: 480px) {
    .mob-brand{
        height:60px;
        padding-left:20px !important;
    }
    .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:93px !important;
        display: block;
        position:inherit;
        height: 150px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:225px !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }

    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .block-box {
        margin-left: 21% !important;
    }
    .mob-img{
        margin-left:35%;
    }
    .margin-mob{
        margin-left:23%;
    }
    .our-platform img{
        height:255px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .half-img img{
        height: 270px;
    }
    .security-service{
        text-align: center !important;
    }
    .security-sub{
        text-align: center;
    }
    .pricing-table{
        height:640px;
        box-shadow: 0px 0px 0px #888888;
    }
}
@media only screen and (min-width: 481px) and (max-width: 549px) {
    .fade-carousel {
        height:245px !important;
    }
}
@media only screen and (min-width: 550px) and (max-width: 629px) {
    .fade-carousel {
        height:240px !important;
    }
    .mob-img{
        margin-left:22%;
    }
    .our-platform img{
        height:341px;
        width:auto;
    }
    .half-img img {
        height: 358px !important;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .half-img img {
        height: 261px;
    }
}


@media only screen and (min-width: 630px) and (max-width: 730px) {
    .fade-carousel {
        height:240px !important;
    }
    .mob-img{
        margin-left:22%;
    }
    .our-platform img{
        height:385px;
        width:auto;
    }
    .half-img img {
         height: 393px !important;
     }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .half-img img {
        height: 261px;
    }
    .pricing-btn{
        margin-left:40% !important;
    }
    .collapse.in
    {
        overflow-y: scroll !important;
        max-height: 250px !important;
    }
}
@media only screen and (min-width: 731px) and (max-width: 767px) and (orientation: landscape) {
   .nexus5l{
       padding-left: 50px !important;
   }
    .nexus-center{
        margin-left:30% !important;
    }
    .fade-carousel {
        height:230px !important;
    }
    .collapse.in
    {
        overflow-y: scroll !important;
        max-height: 250px !important;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .mob-brand{
        height:60px;
        padding-left:20px !important;
    }
    .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:93px !important;
        display: block;
        position:inherit;
        height: 190px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:240px ;
    }
    .carousel-indicators {
        bottom: 10px;
    }

    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .half-img img {
        height: 261px;
    }
    .nexus5l{
        padding-left: 60px !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .section3-btn{
        margin-left:10%;
    }
    .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:100px !important;
        display: block;
        position:inherit;
        height: 300px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:235px !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }

    .footer-server img{
        height:250px !important;
        margin-left:25%;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .our-platform img{
        height:470px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:30px !important;
    }
    .half-img img {
        height: 482px;
    }
   .pricing-table{
       margin-left:30px;
   }
    .security-service{
        text-align: center !important;
    }
    .security-sub{
        text-align: center;
    }
    .navbar-right {
            float: right!important;
            margin-right: 15px;
    }
    .padding-ipad{
        padding-top:130px;
    }
    .nexus-center{
        margin-left:25%;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1100px) {

    .half-img img {
        display:none;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .our-platform img{
        height:470px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .pricing-table{
        margin-left:-42px;
        height:650px;
        box-shadow: 0px 0px 1px #888888 !important;
    }
    .fade-carousel {
        height:500px !important;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .section3-btn{
        margin-left:22%;
    }
  .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:100px !important;
        display: block;
        position:inherit;
        height: 400px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:500px ;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .mesh{
        height:580px !important;
    }
    .hover-img4 img{
    margin-top: -78px;
    }
    .try-btn{
        margin-bottom:-10px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
.section3-btn{
    margin-left:25%;
}
}

@media only screen and (min-width: 1300px) and (max-width: 1366px) {
    .section3-btn{
        margin-left:22%;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1450px) {
    .section3-btn{
        margin-left:21%;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {

}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {

}

@media only screen and (max-width: 1330px) {

}

@media only screen and (min-width: 1330px) {

}

@media screen and (max-width: 1920px) {

}