@media only screen and (min-width: 320px) and (max-width: 370px) {
    .mob-brand{
        height:50px;
        padding-left:20px !important;
    }

    .mob-center{
        margin-left:25% !important;
    }
    .collapse
    {
        overflow-y: scroll !important;
        overflow-x:hidden;
        max-height: 400px !important;
    }

    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:84px !important;
        display: block;
        position:inherit;
        height: 135px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:38vh !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .mob-img2{
        height:225px;
    }
    .service1{
        margin-left:35% !important;
    }
    .service2{
        margin-left: 27% !important;
        margin-top: 10%;
    }
    .service3{
        margin-left: 16% !important;
    }
    .service4{
        margin-left:18% !important;
    }
    .service5{
        margin-left:27% !important;
        margin-top:10%;
    }
    .service6{
        margin-left:34% !important;
        margin-top:10% !important;
    }
    .footer-server img{
        height:230px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:15px;
    }
    .silorailsimg{
        height: 83px;
    }
    .icn3{
        margin-top:10% !important;
    }

    .block-box {
        margin-left: 10% !important;
    }
    .silosd-img-mob img{
        margin-left:20%;
    }
    .our-platform img{
        height:190px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .fiber-rails-mob-img img{
        height:136px;
    }
}



@media only screen and (min-width: 371px) and (max-width: 424px) {
    .mob-brand{
        height:60px;
        padding-left:20px !important;
    }
    .mob-center{
        margin-left:25% !important;
    }
   .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:93px !important;
        display: block;
        position:inherit;
        height: 175px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:38vh !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }
  .mob-img2{
      height:290px;
  }
  .service1{
      margin-left:40% !important;
  }
  .service2{
      margin-left: 30% !important;
      margin-top: 10%;
  }
  .service3{
      margin-left: 21% !important;
  }
  .service4{
      margin-left:25% !important;
  }
    .service5{
        margin-left:30% !important;
        margin-top:10%;
    }
    .service6{
        margin-left:40% !important;
        margin-top:10% !important;
    }
    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }

    .block-box {
        margin-left: 17% !important;
    }

    .silosd-img-mob img{
        margin-left:20%;
    }
    .our-platform img{
        height:190px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .fiber-rails-mob-img img{
        height:100px;
    }
    .retailers-img{
        margin-left:15%;
    }
}



@media only screen and (min-width: 425px) and (max-width: 480px) {
    .mob-brand{
        height:60px;
        padding-left:20px !important;
    }
    .mob-center{
        margin-left:25% !important;
    }
    .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:93px !important;
        display: block;
        position:inherit;
        height: 150px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:38vh !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .mob-img2{
        height:290px;
    }
    .service1{
        margin-left:40% !important;
    }
    .service2{
        margin-left: 34% !important;
        margin-top: 10%;
    }
    .service3{
        margin-left: 25% !important;
    }
    .service4{
        margin-left:25% !important;
    }
    .service5{
        margin-left:30% !important;
        margin-top:10%;
    }
    .service6{
        margin-left:40% !important;
        margin-top:10% !important;
    }
    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .block-box {
        margin-left: 21% !important;
    }
    .mob-img{
        margin-left:35%;
    }
    .margin-mob{
        margin-left:23%;
    }

    .silosd-img-mob img{
        margin-left:27%;
    }
    .our-platform img{
        height:255px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .fiber-rails-mob-img img{
        height:110px;
    }
    .retailers-img{
        margin-left:17%;
    }
}



@media only screen and (min-width: 630px) and (max-width: 767px) {
    .fade-carousel {
        height:58vh !important;
    }
    .mob-img{
        margin-left:22%;
    }
    .silosd-img-mob img{
        margin-left:20%;
    }
    .our-platform img{
        height:255px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .fiber-rails-mob-img img{
        height:100px;
    }
    .retailers-img{
        margin-left:15%;
    }
    .half-img img {
        height: 261px;
    }
    .cards img {
       height:145px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .mob-brand{
        height:60px;
        padding-left:20px !important;
    }
    .mob-center{
        margin-left:25% !important;
    }
    .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:93px !important;
        display: block;
        position:inherit;
        height: 150px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:38vh ;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .mob-img2{
        height:370px;
    }
    .service1{
        margin-left:40% !important;
    }
    .service2{
        margin-left: 35% !important;
        margin-top: 10%;
    }
    .service3{
        margin-left: 30% !important;
    }
    .service4{
        margin-left:30% !important;
    }
    .service5{
        margin-left:37% !important;
        margin-top:10%;
    }
    .service6{
        margin-left:40% !important;
        margin-top:10% !important;
    }
    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .section3-btn{
        margin-left:10%;
    }
    .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .mob-center{
        margin-left:40% !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:100px !important;
        display: block;
        position:inherit;
        height: 300px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:38vh !important;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .mob-img2{
        height:510px;
    }
    .service1{
        margin-left:35% !important;
    }
    .service2 {
        margin-left: 20% !important;
    }
    .service3{
        margin-left: 5% !important;
    }
    .service4{
        margin-left:7% !important;
    }
    .service5{
        margin-left:20% !important;
    }
    .service6{
        margin-left:30% !important;

    }
    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .retailer{
        height: 185px;
    }
    .silosd-img-mob img{
        margin-left:27%;
    }
    .our-platform img{
        height:470px;
        width:auto;
    }
    .margin-left-70.pricing-table{
        margin-left:0px !important;
    }
    .fiber-rails-mob-img img{
        height:200px;
    }
    .retailers-img{
        margin-left:0%;
    }
    .half-img img {
        height: 482px;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1100px) {
    .fade-carousel {
        height:36vh !important;
    }
    .half-img img {
        display:none;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .section3-btn{
        margin-left:22%;
    }
  .collapse
    {
        overflow-y: scroll !important;
        max-height: 450px !important;
    }
    .mob-center{
        margin-left:40% !important;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        top:100px !important;
        display: block;
        position:inherit;
        height: 400px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fade-carousel {
        height:77vh ;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .mob-img2{
        height:700px;
    }
    .service1{
        margin-left:25% !important;
    }
    .service2 {
        margin-left: 11% !important;
    }
    .service3{
        margin-left: -8% !important;
    }
    .service4{
        margin-left:0% !important;
    }
    .service5{
        margin-left:10% !important;
    }
    .service6{
        margin-left:25% !important;
    }
    .footer-server img{
        height:250px !important;
    }
    .hosting.container{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .navbar-toggle{
        margin-right:40px;
    }
    .icn3{
        margin-top:10% !important;
    }
    .silorailsimg{
        height: 113px;
    }
    .retailer{
        height: 185px;
    }
    .mesh{
        height:580px !important;
    }
    .hover-img4 img{
    margin-top: -78px;
    }
    .fiberrails-logo img{
        padding-top:0px !important;
    }
    .try-btn{
        margin-bottom:-10px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
.section3-btn{
    margin-left:25%;
}
}

@media only screen and (min-width: 1300px) and (max-width: 1366px) {
    .section3-btn{
        margin-left:22%;
    }
    .fiber-rails-mob-img img{
        height:355px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1450px) {
    .section3-btn{
        margin-left:21%;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {

}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {

}

@media only screen and (max-width: 1330px) {

}

@media only screen and (min-width: 1330px) {

}

@media screen and (max-width: 1920px) {

}