

#supportTabs .sec_title3 h1 {   
	color: #fff;
    padding: 2em 0 0px;
}
#supportTabs .tabs1 li a {
	    padding: 60px 1px;
		float:none;
}
#supportTabs h1 i {
	    padding: 0 10px;
    border: 2px solid #ab263b;
    border-radius: 50%;
    margin: 0 1em;
    line-height: 1.3;
}


.tabs1 li.active a:after{
	    margin: 0px 0 0 -25px;
}

#checkoutForm h3 {
	    background: #ccc;
    margin: 0;
    padding: .8em;
}
.accepted img {
    width: 50px;
    float: right;
    margin: 3px;
}
.secured {
	    padding: 1em 0px 6em 6em;
    font-size: 12px;
}
.checkoutStep {
	    padding: 13px 21px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 15px;
	    background: #fff;
}
#checkoutForm {
	padding-top:0;
}

.service_box1 .icon1 {
    display: inline-block;
    margin: 0px;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    transition: all .3s linear;
    height: 64px;
    width: 64px;
    background: url(../images/Icon1-white.png);
    background-size: 100%;
}
.service_box2 .icon2 {
    display: inline-block;
    margin: 0px;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    transition: all .3s linear;
    height: 64px;
    width: 64px;
    background: url(../images/Icon2-white.png);
    background-size: 100%;
}
.service_box3 .icon3 {
    display: inline-block;
    margin: 0px;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    transition: all .3s linear;
    height: 64px;
    width: 64px;
    background: url(../images/Icon3-white.png);
    background-size: 100%;
}
.section_category41 .digit {
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    left: 115px;
    top: 115px;
    float: left;
    line-height: 33px;
    border-radius: 100%;
    background-color: #fd602c;
    transition: all 0.3s ease-out 0s;
    margin: 0 15px 0px 0px;
}
/* .section_category41 .text-box-right {
	padding:0;
} */

.parallax-section24 .parallax-overlay {
	    background: rgba(245, 33, 32, 0.75);
}


footer {
	margin:0;
	padding: 50px 0px 0px;
}
.section_category27 .tab-style {
	padding-top:30px;
}
.customTitle1{
	height:auto !important;
}
.section_category42 .right img {
    position: absolute;
    margin-top: -108px;
    right: 80px;
    z-index: 99;
}
.section_category42 .right img {
    right: 0;
}
.section_holder{
	padding: 224px 0 180px 0;
}
.section_category41 .text-box-left, .text-box-right p {
	color:#000000;
}
.section_category41 {
	    padding: 75px 0px 300px;
}