.collapsible-container .collapsible-content { display:block; }
.collapsible-container h2.collapsible-trigger span { background-image:none;padding-right:19px; }

.gallery .js-start-animated-gallery { display:none; }

.gallery-navigation { display:none; }
.gallery-photo-item { display:block; }

.content-mobile .header .back-link { visibility:hidden; }

.content-mobile .hide-if-no-script { display:none; }
